[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
pytest = "==3.4.0"
pep8 = "*"
pydocstyle = "*"

[packages]
asn1crypto = "==0.24.0"
attrs = "==17.4.0"
autopep8 = "==1.3.4"
certifi = "==2018.1.18"
cffi = "==1.11.4"
chardet = "==3.0.4"
configparser = "==3.5.0"
cryptography = "==3.2"
elasticsearch = "==2.0.0"
elasticsearch-dsl = "==2.0.0"
enum34 = "==1.1.6"
flake8 = "==3.5.0"
funcsigs = "==1.0.2"
idna = "==2.6"
ipaddress = "==1.0.19"
mccabe = "==0.6.1"
pluggy = "==0.6.0"
py = "==1.5.2"
py2neo = "==3.1.2"
pycodestyle = "==2.3.1"
pycparser = "==2.18"
pyflakes = "==1.6.0"
python-dateutil = "==2.6.1"
six = "==1.11.0"
urllib3 = ">=1.24.2"
pyOpenSSL = "==17.5.0"

[requires]
python_version = "3.7"
